.btn {
  background-color: #fff2cc;
  color: saddlebrown;
  border: 2px solid saddlebrown;
  width: 210px;
  height: 63px;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 28px;
  font-family: sans-serif;
  margin: 10px;
}
